.container{
    display: flex;
    align-items: center;
    width: 100%;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.subtitle{
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
}